{% extends 'base.html.twig' %}

{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}

{% block fullbanner %}
	<div class="fixed faded" id="fullbanner"></div>
{% endblock %}

{% block title %}{{ pageTitle }}{% endblock %}

{% macro printPicturePrototype(picture, placeHolder, isRequired) %}
    <li>
    	<div class="form-row">
	    	<div class="form-group col-3">
	    		<div class="img-preview-holder">
	            {% if picture.vars.value.filename is defined %}
	    			<img class="img-preview" src="{{ picture.vars.value.filename starts with 'http' ? picture.vars.value.filename : asset('uploads/img/' ~ picture.vars.value.filename) }}" alt="{{ picture.vars.value.filename }}">
	            {% endif %}
	        	</div>
	    	</div>
	    	<div class="form-group col">
	    		{{ form_widget(picture.file, {
					'attr': {
						'placeholder': placeHolder,
					},
					'required': isRequired,
				}) }}
	    	</div>
	    	<div class="form-group col-auto">
	    		<button type="button" class="btn btn-secondary">Supprimer</button>
	    	</div>
    	</div>
	</li>
{% endmacro %}
{% macro printVideoPrototype(video) %}
    <li>
    	<div class="form-row">
	    	<div class="form-group col-3">
		        {% if video.vars.value.embedLink is defined %}
		    		<div class="video-container">
			    			<iframe width="" height="" src="{{ video.vars.value.embedLink }}" frameborder="0" allow="accelerometer; fullscreen; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		        	</div>
		        {% endif %}
	    	</div>
	    	<div class="form-group col">
	    		{{ form_widget(video.embedLink, {
					'attr': {'placeholder': "Saisir le \"lien embed\" d'une video en ligne"},
				}) }}
	    	</div>
	    	<div class="form-group col-auto">
	    		<button type="button" class="btn btn-secondary">Supprimer</button>
	    	</div>
    	</div>
    </li>
{% endmacro %}
{% import _self as formMacros %}

{% block bodyStart %}
	{{ form_start(formTrick) }}

	<div class="modal" id="content_modal" data-backdrop="static" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-row">
				    	<div class="form-group col-3">
				    		<div class="img-preview-holder">
				            {% if trick.mainPictureFilename is defined and trick.mainPictureFilename is not null %}
				    			<img class="img-preview" src="{{ asset('uploads/img/' ~ trick.mainPictureFilename) }}" alt="{{ trick.mainPictureFilename }}">
				            {% endif %}
				        	</div>
				    	</div>
				    	<div class="form-group col">
							{{ form_label(formTrick.featuredPicture, 'Image à la une') }}
				    		{{ form_widget(formTrick.featuredPicture, {
								'attr': {
									'placeholder': trick.mainPictureFilename is defined and trick.mainPictureFilename is not null ? trick.mainPictureFilename : 'Sélectionner un fichier image',
								},
								'required': false,
							}) }}
				    		{{ form_widget(formTrick.featuredPictureDeletionState, {
								'attr': {
									'value': 'false',
								}
							}) }}
				    	</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12 offset-md-1 col-md-10" id="content">
			<div class="row">
				<div class="container-fluid" id="second-container">
					<div class="row" id="trick-head">
						<img class="" id="trick-head-banner" src="
						{{ trick is defined ? 
								trick.pictures|length > 0 ? 
										trick.pictures.first.filename starts with 'http' ? 
										trick.pictures.first.filename 
										: asset('uploads/img/' ~ trick.pictures.first.filename) 
								: asset('images/banner.jpg') 
						: asset('images/banner.jpg') }}
						" alt="">
						<div class="" id="trick-head-title"><h1>{{ trick is defined ? trick.name : pageTitle }}</h1></div>
						<div class="" id="trick-head-actions">
							<a class="btn" data-toggle="modal" href="#content_modal"><i class="fas fa-pencil-alt" title="Modifier l'image à la une"></i></a>
							<a class="btn" id="action-delete-featuredPicture"><i class="fas fa-trash-alt" title="Supprimer l'image à la une"></i></a>
						</div>
					</div>
					<div class="">
						<h5>Images</h5>
						<ul class="pictures" data-prototype="{{ formMacros.printPicturePrototype(formTrick.pictures.vars.prototype, 'Sélectionner un fichier image', true)|e('html_attr') }}">
					        {# iterate over each existing picture and render the field filename #}
					        {% for picture in formTrick.pictures %}
					        	{{ formMacros.printPicturePrototype(picture, picture.vars.value.filename, false) }}
					        {% endfor %}
						</ul>

						<h5>Videos</h5>
						<ul class="videos" data-prototype="{{ formMacros.printVideoPrototype(formTrick.videos.vars.prototype)|e('html_attr') }}">
					        {# iterate over each existing video and render the field embedLink #}
					        {% for video in formTrick.videos %}
					            {{ formMacros.printVideoPrototype(video) }}
					        {% endfor %}
						</ul>
						{{ form_row(formTrick.name, {
							'attr': {'placeholder': "Nom du trick"}, 
							'label' : 'Nom'
						}) }}
						{{ form_row(formTrick.description, {
								'attr': {'placeholder': "Description du trick"}, 
								'label' : 'Description'
						}) }}
						<p>Selectionnez une catégorie ou en préciser une nouvelle</p>
						{{ form_row(formTrick.categoryType, {'label' : 'Type de catégorie'}) }}
						{{ form_row(formTrick.existantCategory, {'label' : 'Catégorie existante'}) }}
						{{ form_row(formTrick.newCategory, {
							'label' : 'Nouvelle catégorie', 
							'attr': {'placeholder': "Entrez un nom"}
						}) }}
						<div class="form-group text-right mt-5">
							{% if editMode %}
								<a class="btn btn-danger" onclick="confirmTrickDeleteModal('{{ trick.id }}')"><i class="fas fa-trash-alt" title="Supprimer"></i> Supprimer</a>
							{% endif %}
							<button type="submit" class="btn btn-primary">{{ editMode ? 'Enregistrer les modifications' : 'Créer le trick' }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block bodyEnd %}
	{{ form_end(formTrick) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/add_trick.js') }}"></script>
{% endblock %}