{% extends 'base.html.twig' %}

{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block fullbanner %}
	<div class="fixed faded" id="fullbanner"></div>
{% endblock %}

{% block title %}Détails d'un trick{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12 offset-md-1 col-md-10" id="content">
			<div class="row">
				<div class="container-fluid" id="second-container">
					<div class="row" id="trick-head">
						<img class="" id="trick-head-banner" src="
						{{ trick.mainPictureFilename is null ?
								trick.pictures|length > 0 ? 
									trick.pictures.first.filename starts with 'http' ? 
									trick.pictures.first.filename 
									: asset('uploads/img/' ~ trick.pictures.first.filename) 
								: asset('images/banner.jpg') 
						: asset('uploads/img/' ~ trick.mainPictureFilename) }}
						" alt="">
						<div class="" id="trick-head-title"><h1>{{ trick.name }}</h1></div>
						<div class="" id="trick-head-actions">
							<a href="#"><i class="fas fa-pencil-alt" title="Modifier le trick"></i></a>
							<a href="#"><i class="fas fa-trash-alt" title="Supprimer le trick"></i></a>
						</div>
					</div>
					<article class="trick-details">
						<div id="medias" class="row">
							{% for picture in trick.pictures %}
								<div class="col-sm-6 col-md-4 col-lg-3 trick-details-media">
									<img class="img-fluid" src="{{ picture.filename starts with 'http' ? picture.filename : asset('uploads/img/' ~ picture.filename) }}" alt="">
								</div>
							{% endfor %}
							{% for video in trick.videos %}
								<div class="col-sm-6 col-md-4 col-lg-4 trick-details-media">
									<iframe width="" height="" src="{{ video.embedLink }}" frameborder="0" allow="accelerometer; fullscreen; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							{% endfor %}
						</div>
						<div id="description">
							{{ trick.description | raw }}
						</div>
						<div id="tags">
							<span>Créé le {{ trick.creationMoment | date('d/m/Y') }} à {{ trick.creationMoment | date('H:i') }}</span>
				            {% if trick.revisionMoment is not null %}
				    			<span>Modifié le {{ trick.revisionMoment | date('d/m/Y') }} à {{ trick.revisionMoment | date('H:i') }}</span>
				            {% endif %}
							<span>catégorie {{ trick.category.name }}</span>
						</div>
					</article>
					<hr>
					{% if app.user %}
						{{ form_start(commentForm, {
							'attr': {'class': "form-inline"}
						}) }}
						<div class="form-group">
						    {{ form_widget(commentForm.content, {
								'attr': {'placeholder': 'Votre message...'}
							}) }}

						    <small>{{ form_help(commentForm.content) }}</small>

						    <div class="form-error">
						        {{ form_errors(commentForm.content) }}
						    </div>
						</div>
						<button type="submit" class="btn btn-success">Ajouter un commentaire</button>
						{{ form_end(commentForm) }}
					{% else %}
						<h3>Vous ne pouvez pas commenter si vous n'êtes pas connecté !</h3>
						<a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
					{% endif %}
					<hr>
					<section id="commentaires">
						<h3>{{ trick.comments | length }} commentaires :</h3>
						{% for comment in comments %}
						<div class="row comment">
							<div class="offset-1 col-1">
								img
							</div>
							<div class="col-9 comment-content">
								<div>
									{{comment.content | raw}}
								</div>
								<div>
									{{comment.user.username}} (<small>{{comment.creationMoment | date('d/m/Y à H:i') }}</small>)
								</div>
							</div>
						</div>
						{% endfor %}
					</section>
				</div>
			</div>
		</div>
	</div>
{% endblock %}