{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ parent() }} Réinitialisation mot de passe{% endblock %}

{% block body %}
	<div class="row align-items-center" id="content-panel">
		<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 text-center" id="panel">
			<h1>Réinitialisation du mot de passe</h1>
			{{ form_start(form) }}
			{{ form_row(form.email, {
				'label': 'Adresse email' ,'attr' : {'placeholder': 'Confirmer votre email actuel'}
			}) }}
			{{ form_row(form.password, {
				'label': 'Mot de passe' ,'attr' : {'placeholder': 'Choisissez un nouveau mot de passe'}
			}) }}
			<div class="form-group text-center">
				<button type="submit" class="btn btn-success">Redéfinir le mot de passe</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
