
{% for comment in comments %}
<div class="row comment">
	<div class="offset-1 col-1">
        {% if comment.user.pictureFilename is defined and comment.user.pictureFilename is not null %}
			<img class="img-avatar" src="{{ asset('uploads/img/' ~ comment.user.pictureFilename) }}" alt="{{ comment.user.pictureFilename }}">
		{% else %}
			<img class="img-avatar" src="{{ asset('images/' ~ 'default_avatar.jpg') }}" alt="default avatar">
        {% endif %}
	</div>
	<div class="col-9 comment-content">
		<div>
			{{comment.content | raw}}
		</div>
		<div>
			{{comment.user.username}} (<small>{{comment.creationMoment | date('d/m/Y à H:i') }}</small>)
		</div>
	</div>
</div>
{% endfor %}